@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700');

//media queries
@media (max-width: 575px) {
  .left_menu {
    margin: 0;
    padding: 10px 10px 5px 10px;
  }
  .right_menu {
    margin: 0;
    padding: 5px 10px 10px 10px;
  }
  .nav_menu, .presentation_menu, .left_col {
  width: 100%;
  }
  .left_col, .right_col {
    width: 100%;
  }
  .right_col {
    display: inline-block;
    margin-top: 10px;
    margin-left: 0;
  }
  .presentation_menu {
    margin-top: 10px;
  }
  .sign_row {
    p { font-size: 12px;}
  }
  .sign_row, .newsletter_row, .twit_div {
    margin-top: 12px!important;
  }
  .mySlides {
    .text {
      font-size: 12px;
      width: 90%;
      margin-left: 15px;
      position: absolute;
      top: 73%;
    }
  }
}
@media (min-width:576px) and (max-width: 991px) {
  .left_menu, .right_menu {
    display: block;
    margin: 0;
    padding: 5px 10px;
  }
  .left_menu {
    padding-top: 10px;
  }
  .nav_menu, .presentation_menu, .left_col, .right_col  {
      display: inline-block;
  }
  .nav_menu {
    float: left;
  }
  .nav_menu, .presentation_menu {
    width: 50%;
  }
  .left_col {
    width: 50%;
    margin-right: 0;
  }
  .right_col {
    width: 48%;
    margin-left: 0;
  }

}

@media (min-width: 992px) {
  .left_menu, .right_menu, .nav_menu, .presentation_menu, .left_col, .right_col  {
    display: inline-block;
  }
  .left_menu, .right_menu {
    margin: 0;
    padding: 10px 5px;}
  .nav_menu{
    width: 230px;
    float: left;
  }
  .presentation_menu {
    width: 230px;
  }
  .left_col, .right_col {
    width: 221px;
  }
  .right_col {
    margin-left: 6px;
  }
  .mySlides {
    img {
      width: 928px!important;
    }
  }
  .prev {
    left: 3.5%!important;
  }
  .next {
    right: 3.5%!important;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #506881;
}
//general properties

.content-menu {
  text-align: center;
}
.left_menu, .right_menu {
  vertical-align: top;
}
.nav_menu, .left_col, .sign_row, .newsletter_row {
  background-color: #fff;
}
a {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}

//section properties
//left side (992px+)
.nav_menu {
  vertical-align: top;
  a {
  vertical-align: 7px;
  }
  ul {
    margin: 0;
  }
  li {
    padding: 15px;
    border-bottom: 1px solid lightgrey;
    img {
      -webkit-filter: brightness(90%) invert(50%);
      filter: brightness(0%) invert(70%);}
  }
  li:hover {
    background-color: #56ccc8;
    a {color: white;}
    img{
      -webkit-filter: brightness(0) invert(1);
      filter: brightness(0) invert(1);
    }
  }
  .contact_ul {
    color: white;
    background-color: #c5cdd1;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    border: none;
    padding: 22px 10px;
    a {color: white;
      vertical-align: 5px;
      display: block;
    }
    img {
      -webkit-filter: brightness(0) invert(1);
      filter: brightness(0) invert(1);
      margin: 0;
      }
    li {
      display: inline-block;
      padding: 10px 5px;
      border: none;
    }
    li:hover {
      background-color: #c5cdd1;
    }
    .contact_p {
      vertical-align: middle;
    }
  }
}
.presentation_menu {
  background-color: #152840;
  ul {
    font-size: 15px;
    padding: 10px 15px;
    margin: 0;
    border-bottom: 1px solid #49637d;
    a {
      color: white;
    }
    a:hover {
      color: #56ccc8;
    }
    ul:nth-child(3) {
      border-bottom: none;
    }
  }
  ul:hover {
    background-color: #263a54;
  }
  li {
    padding: 8px;
  }
  .header_li {
    color: #56ccc8;
    font-size: 16px;
    padding: 10px 0;
  }
  .arrow {
    float: right;
    filter: none;
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
}
.left_col {
  margin-right: 6px;
  float: left;
  a {
    vertical-align: 7px;
  }
  li {
    border-bottom: none;
    padding: 17px;
    img {
      filter: grayscale(100%);
    }
  }
  li:hover {
    img {
      filter: none;
    }
  }
  .fb:hover {
    color: #4d6baa;
  }
  .twit:hover {
    color: #4fc6f8;
  }
  .ggl:hover, .pin:hover {
    color: #ea6262;
  }
  .rss:hover {
    color: #fd7e14;
  }
}

//right side (992px+)
.fb_div {
  background-color: #4d6baa;
}
.twit_div {
  background-color: #4fc6f8;
  margin-top: 16px;
}
.fb_div, .twit_div {
  height: 165px;
  color: white;
  a{
    color: white;
  }
  img {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
  }
  .logo {
    float: left;
    margin: 15px;
    width: 45px;
    height: 45px;
  }
  ul {
    margin: 0;
    width: 100%;
    display: inline-block;
  }
  li {
    display: inline-block;
    height: 40px;
    line-height: 120px;
  }
  .left_pos {
    margin-left: 20px;
    float: left;
  }
  .right_pos {
    margin-right: 10px;
    float: right;
  }
}
.fb_div:hover, .twit_div:hover {
  filter: brightness(90%);
}
.newsletter_row {
  p {
  font-size: 12px;
  }
  button {
    background-color: #ea6060;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
  }
  input {
    width: 50%;
    margin: 0 15px;
    padding: 10px 10px;
    font-size: 16px;
    color: #c8cdcf;
  }
  input::placeholder {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #c8cdcf;
  }
}
.sign_row, .newsletter_row {
  height: 143px;
  margin-top: 16px;
  font-weight: 400;
  h2 {
    font-weight: 500;
    padding-top: 15px;
    margin: 0;
  }
  li {
    display: inline-block;
    img {
      width: 30px;
      height: 30px;
    }
  }
}

img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
li {
  text-align: left;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
    text-align: center;
    padding: 10px;
    img {
      width: 100%;
      height: 80%;
      margin-right: 0;
      line-height: 115px;
    }
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next/left button" to the right/left */
.next {
  right: 1.5%;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 1.5%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 14px;
  position: absolute;
  top: 100px;
  width: 30%;
  text-align: left;
  margin-left: 50px;
  font-weight: 500;
}

/* Number text (Image One/Two etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 28px;
  position: absolute;
  font-weight: 500;
  margin-left: 50px;
  margin-top: 40px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}